<article class="user-collection-article">
<div class="user-single-content">
	<figure class="user-bio-container">
		<div class="user-avatar-container">
			{{#avatar_valid}}
				<img src="{{avatar}}" alt="{{name.full}}"/>
			{{/avatar_valid}}
			{{^avatar_valid}}
				<div class="first-name-initial">{{name.initials.first}}</div>
			{{/avatar_valid}}
		</div>
		<figcaption class="user-bio-text-container">
			<hgroup>
				<h2 class="user-name">{{name.full}}</h2>
				<h3 class="user-occupation">{{occupation}}</h3>
			</hgroup>
		</figcaption>
	</figure>
	<div class="user-details-container">
		<figure class="user-graphs-container">
			<canvas id="user-graph-{{id}}" class="user-graph">Your browser does not support canvas.</canvas>
			<figcaption class="user-data-container">
				<p class="user-graph-caption">Conversions: <span class="conversion-data">{{conversion_date_range.min.string}} - {{conversion_date_range.max.string}}</span></p>
			</figcation>
		</figure>
		<aside class="user-numbers-container">
			<div class="user-numbers">
				<h5 class="user-impressions">{{impressions_output}}</h5>
				<span class="user-number-label">impressions</span>
				<h5 class="user-conversions">{{conversions_output}}</h5>
				<span class="user-number-label">conversions</span>
				<h4 class="user-total-revenue">${{revenue_output}}</h4>
			</div>
		</aside>
	</div>
</div>
</article>